@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

/* 
Darkest // dark blue gray: #3E4759

More Dark // red sienna: #8C342B

least Dark // orange kool aid: #F24405

more bright: #F28705

Most bright: #F5AF1b


*/


/* page */

* {
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  background-color:#3E4759;
  background-image:url(https://i.imgur.com/bNkncfq.png) ;
  background-attachment:fixed;
  background-blend-mode: soft-light;
  
}

h1 {
  font-size: 3rem;
}
h1.nav-header a{
  font-family:'Fredoka One', cursive ;
  font-weight: 300;
}

/* header */

.Header {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #8C342B;
  padding: 1rem;
  border-bottom:#F24405 solid .2em;
}

.Header a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.home-page {
  font-size: 2em;
  float: right;
  margin-top: 20px;
  background-color: #F5af1b;
}
a.adopt{
  color:#02443f;
}
a.adopt:hover{
  background-color:#efefef;
}

/* adoption */
div.adoption-container h1{
  font-family:'Fredoka One', sans-serif;
  font-weight: 300;
}
.adoption-container {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  max-width: 80%;
  margin: 2rem auto;
}

.adoption-container h1, .adoption-container h2 {
  text-align: center;
  color: #efefef;
}

.adoption-container .pet-details-container h2 {
  color: #222;
  text-align: left;
}

.pet-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.pet-list .pet-container {
  margin: 1rem calc(1rem + 2vw);
  background-color:#F28705;
  border-radius: 5px;
  border:#F24405  solid .2em;
  display: flex;
  flex-flow: column;
  max-width: 35vh;
  justify-content: space-between;
}

.pet-list .pet-container h1 {
  color: #222;
  margin: 0.5rem;
}
.people-container {
  margin: 0 calc(1rem + 2vw);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.people-container li {
  list-style: none;
  padding: 0.25rem;
  color: #efefef;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

.btn {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 1px #666;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 2px 2px 2px #666;
  background-color: #222;
  color:#efefef;
}

.name-input {
  margin: 10px;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 5px;
}

.pet-container li {
  list-style: none;
  margin: 5px;
}

.pet-img {
  height: 35vh;
  width: 35vh;
  margin-right:.3em;
}

.pet-details-container {
  padding: 10px;
    color: #222;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color:#F5AF1B;
}

.pet-details {
  text-align: left;
}

.popup-container {
  position: relative;
}

.popup {
  position: fixed;
  width: 50vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;
  right: 25vw;
  bottom: 25vh;
  text-align: center;
  z-index: 10;
  background-color: #efefef;
  color: #222;
  font-size: 3rem;
  padding: 10px;
  display: flex !important;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.popup .btn {
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
}

/* home */
h1.welcome {
  color: #efefef;

  font-family:'Fredoka One', sans-serif;
  font-weight:300;
}
.Homepage {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
}

.Homepage .page-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
}

.process-container {
  padding: 2rem;
  background-color:#F28705;
  border: solid #F28705 .2em;
  border-radius: .5em;
}
section#yellow{
  background-color:#F5AF1b;
  border: solid  #F24405 .2em;
  border-radius:.5em;
  padding: 0.3em;
  width:fit-content;
}